
@tailwind base;
@tailwind components;
@tailwind utilities;

.nav_link {
  @apply relative px-2;
}

.nav_link::after {
  content: '';
  @apply absolute bg-main-color;
  width: 0%;
  height: 4px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s;
}

.nav_link:hover::after,
.nav_link:focus::after {
  width: 100%;
}
